<p id="notice"><%= notice %></p>

<h1>Listing Fridge Inventories</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Uses</th>
      <th>Startingamount</th>
      <th>Amounttopurchase</th>
      <th>Due</th>
      <th>Done</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fridge_inventories.each do |fridge_inventory| %>
      <tr>
        <td><%= fridge_inventory.item %></td>
        <td><%= fridge_inventory.uses %></td>
        <td><%= fridge_inventory.StartingAmount %></td>
        <td><%= fridge_inventory.AmountToPurchase %></td>
        <td><%= fridge_inventory.due %></td>
        <td><%= fridge_inventory.done %></td>
        <td><%= link_to 'Show', fridge_inventory %></td>
        <td><%= link_to 'Edit', edit_fridge_inventory_path(fridge_inventory) %></td>
        <td><%= link_to 'Destroy', fridge_inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fridge inventory', new_fridge_inventory_path %>
