<div id="destination-map">
    <%= javascript_tag do %>
    latitude = '<%= j @destination.latitude.to_s %>';
    longitude = '<%= j @destination.longitude.to_s %>';
    address = '<%= j @destination.address %>';
    description = '<%= j @destination.description %>';
    <% end %>
</div>

<p>
  <strong>Address:</strong>
  <%= @destination.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @destination.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @destination.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @destination.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @destination.longitude %>
</p>

<div class="btn-group">
  <%= link_to 'Edit', edit_destination_path(@destination), class: "btn btn-default" %>
  <%= link_to 'Back', destinations_path, class: "btn btn-default" %>
</div>
