<h1><%= @user.username %>'s Page</h1>
<div class="">
    <p><strong>Name:</strong> <%= @user.name %></p>

    <p><strong>Location:</strong> <%= @user.location %></p>

    <p><strong>Birthday:</strong> <%= @user.birthday %></p>

</div>

<div class="row">
    <% @user.blog_posts.each do |blog_post| %>
      <div class="col-md-6">
     <div class="panel panel-default">
      <div class="panel-heading">
       <%= link_to blog_post.title, blog_post %>
     </div>
     <div class='panel-body'>
          <p><%= blog_post.blog_entry[0..250] %>...[<%= link_to 'Read More', blog_post %>]</p>
         <strong><p>You last updated this post on <%= blog_post.created_at.strftime("%B %e, %Y at %l:%M %p") %></p></strong>

        </div>
        <div class='panel-footer'>
       </div>
      </div>
    </div>
<% end %>
</div>
